.header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    top: 0;
    align-items: center;
}

.menu {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.web_menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.web_options {
    margin-right: 16px;
    font-size: 20px;
    font-weight: 700;
}

.web_options a {
    display: flex;
    align-items: center;
}

.web_options:last-child {
    margin-right: 0px
}

.option_icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.mobile {
    height: 100vh;
    width: 60vw;
    position: relative;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
}

.close_icon {
    display: flex;
    justify-content: flex-end;
}

.mobile_options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mobile_option {
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
}

.mobile_option a {
    display: flex;
}
.logo{
    font-size: 22px;
    font-weight: 500;
}
.d{
    font-size: 30px;
    color: dodgerblue;
    font-weight: 700;
}

@media only screen and (max-width:512px) {
    .web_menu {
        display: none;
    }
}

@media (min-width: 481px) {
    .mobile_menu {
        display: none;
    }
}